@import './index.css';

/* ============ */
/* Header area */
/* ============ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
}

/* logo */
.logo-image {
    width: 100px;
}

/* end-logo */

/* navigation bar */
.navBar {
    display: flex;
    gap: 1.5em;
    font-weight: 500;
    font-size: 1.1rem;
}

.active {
    border-bottom: 2px solid black;
}

.product-links {
    position: relative;
}

.links {
    /* border: 1px solid red; */
    box-shadow: 0px 1px 10px 0px grey;
    display: none;
    position: absolute;
    top: 1.7rem;
    width: max-content;
    line-height: 2rem;
    background-color: white;
    z-index: 1;
}

.product-links:hover .links {
    display: block;

}

.link {
    font-size: 1rem;
    font-weight: 400;
    padding-inline: 1rem;
}

.link:hover {
    background-color: var(--clr-secondary);
    cursor: pointer;
}

/* end-navigation bar */

/* shortcuts */
.shortcuts {
    display: flex;
    gap: 1em;
}

.shortcut-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    border: none;
    font-size: 1.5rem;
    background: none;
    cursor: pointer;
}

.mobileNav-toggle {
    font-size: 1.5rem;
    display: none;
}

/* end-shortcuts */

/* ============ */
/* Footer area */
/* ============ */

.footer-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--clr-primary-dark);
}

.contact-us-form {
    width: 100%;
    margin-bottom: 1.5rem;
}

.contact-us-form p {
    font-size: .8rem;
    margin-bottom: 1rem;
}

.contact-us-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-us-form input,
textarea {
    font-family: inherit;
    font-size: .8rem;
    margin-bottom: .5rem;
    height: 2.3rem;
    border-radius: 3px;
    border: none;
    text-indent: .75rem;
}

textarea {
    display: block;
    height: 10rem;
}

.form-submit-button {
    border: none;
    background-color: white;
    font-family: inherit;
    font-weight: 500;
    width: 100px;
    padding: .5rem 1.5rem;
    border-radius: 5px;
}

.form-submit-button:hover {
    background-color: var(--clr-secondary);
    cursor: pointer;
}

.quick-links {
    margin-bottom: .7rem;
}

.quick-links li {
    margin-top: .4rem;
    font-size: .8rem;
}

.quick-links li a {
    color: white;
}

.social-links {
    display: none;
}

.footer-logo {
    margin-bottom: 1rem;
}

.footer-logo-main {
    font-size: 4rem;
    font-family: var(--logo-font);
}

.footer-logo-sub {
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .45rem;
}

.contact-info {
    font-size: .9rem;
}

.contact-info .icon {
    font-size: 1rem;
    margin-right: 10px;
}

.contact-info p {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: .2rem;
}

.contact-info ul {
    margin-top: .5rem;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.footer-info {
    padding: .5rem 1em;
    text-align: center;
    color: white;
    font-weight: 300;
    background-color: var(--clr-primary-extra-dark);
}

@media (max-width:600px) {

    .navBar {
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        right: 0;
        left: 40%;
        flex-direction: column;
        align-items: center;
        padding: 10em 2em;
        gap: 2em;
        transform: translateX(200%);

        background-color: white;
        box-shadow: 3px 0 50px 10px grey;

        transition: transform 100ms ease-out;

    }

    .mobileNav-toggle {
        z-index: 999;
        display: block;
    }

    .open {
        transform: translateX(0%);
    }

    .fixed {
        position: fixed;
        right: 5%;
    }
}

@media (min-width:600px) {

    .footer-content {
        flex-direction: row;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 1rem;
    }

    .column {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: content;
    }

    .column h3 {
        font-size: 1.3rem;
    }

    .contact-us-form {
        flex-grow: 2;
    }

    .contact-us-form textarea {
        height: 7rem;
    }

    .links-wrapper {
        flex-grow: 2;
        flex-direction: row;
        justify-content: space-around;
    }

    .quick-links {
        line-height: 1.758rem;
    }

    .social-links {
        display: block;
        line-height: 2.5rem;
        justify-self: flex-end;
    }

    .quick-links li {
        font-size: .9rem;
    }

    .social-links li {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2rem;
    }

    .social-links li a {
        font-size: .9rem;
    }

    .other-links {
        margin-top: -3.6rem;
        align-items: center;
    }

    .contact-info ul {
        display: none;
    }

    .footer-logo {
        margin-right: 3rem;
    }
}