@import './index.css';

/* cart */
.cart {
    padding: 1rem;
}

.subTotal {
    text-align: right;
    max-width: 700px;
    margin: 1.2rem auto;
}

.cart-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cart-btn {
    width: 100%;
    padding: 1rem;
    background-color: var(--clr-secondary);
    border: none;
    font-family: var(--default-font);
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
}

.placeOrder {
    background-color: var(--clr-primary);
    color: white;
}

/* cart item */
.cartItem {
    border-radius: 7px;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px 2px silver;
    margin-bottom: 1rem;
    max-width: 700px;
    height: 100px;
}

.content {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_title {
    height: 100%;
    width: 75%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.cartItem-image {
    flex-shrink: 0;
    display: block;
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.btn-remove {
    font-size: 1.3rem;
    cursor: pointer;
}

/* empty cart */
.emptyCart {
    width: max-content;
    margin: 6rem auto;
    font-size: 1.5rem;
    text-align: center;
}

.emptyCart-icon {
    font-size: 3rem;
}

.btn-continueShopping {
    margin-top: 2em;
    padding: 1em;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--clr-secondary);
    font-family: var(--default-font);
    font-size: .85rem;
    font-weight: 700;
}

.btn-continueShopping:hover,
.btn-continueShopping:active {
    background-color: var(--clr-primary);
    color: white;
}

@media (min-width : 600px) {
    .cartItem {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .cart-buttons {
        width: 400px;
        flex-direction: row;
        justify-content: center;
    }

    .cart-btn {
        width: 160px;
    }
}