/* cart */
.cart {
    padding: 1rem 1rem 1rem 1rem;
}

/* cart item */
.cartItem {
    border-radius: 7px;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px 2px silver;
    margin-bottom: 1rem;
    max-width: 700px;
    height: 100px;
}

.content {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_title {
    height: 100%;
    width: 75%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.cartItem-image {
    flex-shrink: 0;
    display: block;
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.btn-remove {
    font-size: 1.2rem;
    cursor: pointer;
}

@media (min-width : 600px) {
    .cartItem {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}